<div id="divHeader">
  <button mat-button>Home</button>
  <button mat-button>Previos Prediction Stats</button>
  <button mat-button>Load Match Predictions</button>
</div>

<div id="divContent">
  <div id="divMenu">
     <button mat-button>Detailed Stats</button>
     <button mat-button>Last 10 Matches Away</button>
     <button mat-button>Last 10 Matches Home</button>
     <button mat-button>Head-To-Head Details</button>
  </div>

  <div id="divChart">
    <canvas id="prevStats"></canvas>
  </div>
</div>
