<p>chart works!</p>
<!-- <mat-card class="filter">
    <mat-button-toggle-group name="filter" aria-label="Filter" value="all">
        <mat-button-toggle class="filter-btn" value="all" (change)="reportChart($event.value)">Report all
        </mat-button-toggle>
        <mat-button-toggle class="filter-btn" value="month" (change)="reportChart($event.value)">Monthly report
        </mat-button-toggle>
        <mat-button-toggle class="filter-btn" value="day" (change)="reportChart($event.value)">Daily report
        </mat-button-toggle>
    </mat-button-toggle-group>
</mat-card> -->

<div id="divChart">
    <canvas id="chart"></canvas>
</div>